In [1]:
df_travel = pd.read_csv("../DATA/TRAVEL/mrt_df_final.csv")
df_travel

,code,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group
0,53666,France,Paris,4.41,3179,643,여행편의,"[공항유심] -더블데이터 프로모션 - KPN유심, TDC유심, 쓰리유심 ( 수령비 무료)","[ 구매 시 꼭 확인하세요 ] 상품안내** 인천공항 씨티,sm면세점 현금처럼 사...",좋긴 한데 어느 유심이나 그렇듯 3G 전환이 잦습니다잘 터져요!!굿!!!!!!!!!,"{'purpose': 'etc', 'age_group': '50'}",etc,50
1,18727,Germany,Munchen,4.12,2546,550,여행편의,*반짝특가! 이게실화냐* 유럽 통합 40개국 플레이와이파이 포켓와이파이 + 보조배터리,"[인천 1, 2터미널 , 김해, 김포] 유럽 플레이와이파이 포켓와이파이 공식입점 ...",유럽은 원래 와이파이가 좀 느릴 수 있다고 알고 있었는데 우리나라보단 확실히 느리지...,"{'purpose': 'lover', 'age_group': '30'}",lover,30
2,34163,Germany,Munchen,4.37,2401,537,여행편의,[플레이유심]데이터2배제공 이벤트중 KPN/쓰리/EU 유럽유심 (공항수령무료/출국전...,서비스명 : 유럽 통합 유심 플레이유심 (공항수령 무료)** 국내 공항에서 편하게...,kpn으로 5+5기가로 구매했는데 런던/동유럽에서는 잘터졌지만 스페인에서는 조금 느...,"{'purpose': 'friends', 'age_group': '20'}",friends,20
3,60636,Germany,Dusseldorf,4.25,3366,480,여행편의,"[무료 배송] 유럽 유심 - EE/Three/KPN 유심 5종 / (영국 유심, 프...",유효기간 안내 KPN 유심 데이터 4GB(2020.08.31)KPN 유심 데이터 ...,처음에 유심 끼우고 잡는데 시간이 걸리긴 하는데 그 이후로는 문제없이 잘쓰고 다녔습...,"{'purpose': 'honeymoon', 'age_group': '20'}",honeymoon,20
4,66554,United Kingdom,London,4.31,2544,412,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스...",[인천공항 1T 수령] 유럽 유심 EEThree 유심 3종[인천공항 1T 수령] ...,"연결이 잘됩니다.데이터 용량이 큽니다.KPN 유심칩을 사용하였습니다. 지하철, 건물...","{'purpose': 'parents', 'age_group': '30'}",parents,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,49568,"Tanzania, United Republic of",Moshi,0.00,0,0,가이드 투어,[투어] 탄자니아 야생동물 사파리 투어 (3일) :: 탄자니아/아루샤,"아프리카를 체험할 수 있는 탄자니아 국립공원... 끝이 보이지 않는 초원, 지구상의...",0,0,0,0
734,49564,"Tanzania, United Republic of",Moshi,0.00,0,0,가이드 투어,[투어] 킬리만자로 트래킹 (3일) :: 탄자니아/모시,"아프리카를 체험할 수 있는 킬리만자로...아프리카 대륙의 최고봉(5,895m), 죽...",0,0,0,0
735,41643,"Tanzania, United Republic of",Moshi,0.00,0,0,가이드 투어,[투어] 세렝게티 야생동물 사파리 투어 (6일) :: 탄자니아/아루샤,"아프리카를 체험할 수 있는 킬리만자로 세렝게티 국립공원끝이 보이지 않는 초원, ‘세...",0,0,0,0
736,41883,"Tanzania, United Republic of",Moshi,0.00,0,0,가이드 투어,[투어] 킬리만자로 트래킹/등반 (6일) :: 탄자니아/모시,"아프리카를 체험할 수 있는 킬리만자로... 세렝게티...아프리카 대륙의 최고봉(5,...",0,0,0,0
737,41903,"Tanzania, United Republic of",Moshi,0.00,0,0,가이드 투어,[투어] 탄자니아 정부기관 맞춤 비즈니스 투어(모시/도도마/다르살렘) :: 탄자니아/모시,"동부 아프리카의 중심국가이며, 인도양을 접하고 있어 아프리카 무역의 거점인 탄자니아...",0,0,0,0

In [6]:

for i in range(len(df_travel)):
    
    if "유심" in df_travel['title'][i]:
        df_travel['drop'][i] = "Y"
    elif "픽업" in df_travel['title'][i]:
        df_travel['drop'][i] = "Y"
    elif "와이파이" in df_travel['title'][i]:
        df_travel['drop'][i] = "Y"
    else:
        df_travel['drop'][i] = "N"

C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
df_travel_clean = df_travel[df_travel['drop'] == "N"].reset_index()

In [18]:
df_travel_clean = df_travel_clean.drop('index', axis=1)

KeyError: "['index'] not found in axis"

In [37]:
df_travel_clean2 = df_travel_clean[df_travel_clean['score'] >= 3.0].reset_index()
df_travel_clean3 = df_travel_clean2.drop('index', axis=1)
df_travel_clean3

,code,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group,drop
0,2122,Netherlands,Amsterdam,4.73,231,84,가이드 투어,국립박물관과 고흐 미술관 대표작 설명,국립박물관은 렘브란트(Rermbrandt)의 대표작 '야경꾼'을 전시하기 위한 목적...,좋긴 좋았습니다. 가이드님이 없었으면 중요 작품들이 무엇인지 알지 못했으니까요. 하...,"{'purpose': 'etc', 'age_group': '30'}",etc,30,N
1,1474,Netherlands,Amsterdam,4.61,160,49,가이드 투어,암스테르담 시내 워킹투어,암스테르담은 네덜란드의 수도로서 운치와 분위기가 있는 도시입니다.그럼에도 불구하고 ...,두명이서 다녔는데 시간을 알차게 계획하시구 또 전문성있게 잘 설명해주셔서 재밌었습니...,"{'purpose': 'official', 'age_group': '30'}",official,30,N
2,34700,Netherlands,Amsterdam,4.95,104,43,가이드 투어,네덜란드 암스테르담 시내 실속 워킹투어,암스테르담을 실속있게 둘러볼 수 있는 투어입니다. 레이오버로 암스테르담에 잠깐 들...,암스테르담에 오시면 꼭꼭 들어보기를 추천드려요! 머무르는 기간이 짧든 길든 특히 첫...,"{'purpose': 'honeymoon', 'age_group': '30'}",honeymoon,30,N
3,460,Netherlands,Volendam,4.83,154,41,가이드 투어,"히트호른, 폴른담, 풍차마을",작은 베네치아라는 별명을 가진 히트호른 마을과 네덜란드에서 가장 아름다운 전통의상을...,장거리 운전이라 힘드셨을텐데도 친절하게 잘 안내해주시고 설명도 잘 해주셨습니다 감사...,"{'purpose': 'friends', 'age_group': '30'}",friends,30,N
4,8693,Czech Republic,Praha,4.56,2353,802,가이드 투어,"[1+1이벤트/가격할인]프라하근교차량투어""독일 드레스덴&작센의스위스""(#할인쿠폰제공#)",*안녕하세요 하이프라하입니다! 이벤트 공지사항 1+1이벤트 공지입니다.독일 드...,일단 원래 후기를 잘 적지 않는데이번은 꼭 적어야 할 것 같아요너무 만족스러운 투어...,"{'purpose': 'alone', 'age_group': '30'}",alone,30,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,46060,Egypt,Cairo,4.50,7,2,여행편의,카이로 국제공항 → 카이로 또는 기자 호텔 프라이빗 이송 서비스,본 상품은 evoucher 상품으로 '예약 내역'에서 확인되는 바우처의 출력본 혹...,카이로공항 바깥에서 이름적힌 피켓들고 있어서 쉽게 찾을 수 있었습니다. 운전기사 한...,"{'purpose': 'official', 'age_group': '30'}",official,30,N
458,42623,Egypt,hurghada.,4.00,8,2,가이드 투어,후르가다 출발 룩소르 전일 관광,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",와 진짜..왕복 시간 너무 길었어요 솔직히 오후 여섯시에 끝날줄 알았는데 중간에 휴...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N
459,27627,Egypt,hurghada.,4.00,7,2,액티비티,후르가다: 사륜 바이크로 3시간 사막 사파리 여행,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",좋아요생각보다 너무 오래타야해서 손이 아팠어요ㅠ 그리고 배두인 마을이 아니라 그냥 ...,"{'purpose': 'friends', 'age_group': '50'}",friends,50,N
460,46232,Egypt,Cairo,5.00,7,1,가이드 투어,"카이로 : 기자 피라미드, 스핑크스, 사카라 프라이빗 가이드 투어","본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔야...",친절한 가이드와 자세한 역사적인 설명을 들을 수 있었던 시간이었습니다. 추천드립니다.,"{'purpose': 'alone', 'age_group': '20'}",alone,20,N
461,46067,Egypt,Cairo,5.00,5,1,가이드 투어,카이로: 고대 이집트 유적지 '기자 피라미드 & 멤피스 & 사카라' 투어,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...","예약자 두명과 운전기사 한명, 가이드 한명 총네명이 승용차에 타고 피라미드를 보러가...","{'purpose': 'partner', 'age_group': '30'}",partner,30,N

In [38]:
df_travel_clean3.to_csv("../DATA/TRAVEL/clean_mrt_df_final.csv", index=False)

In [31]:
grouped = df_travel['title'].groupby(df_travel['city_name'])
grouped

In [30]:
grouped.size()

country
Algeria                      1
Argentina                    8
Armenia                      9
Aruba                        1
Australia                    9
                            ..
United States of America    15
Uruguay                      2
Uzbekistan                   1
Viet Nam                     9
Zambia                      10
Name: title, Length: 105, dtype: int64