In [3]:
import pandas as pd
import glob
import os
from IPython.core.display import display, HTML

In [4]:
input_file = r'/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel'
output_file = r'/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_final.csv'

In [5]:
allFile_list = glob.glob(os.path.join(input_file, 'travel_example*'))
print(allFile_list)

['/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example11.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example39.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example9.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example8.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example38.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example10.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example12.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example13.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example17.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example16.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example28.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example14.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example15.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example29.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example99.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example66.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example72.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example73.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example67.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example98.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example71.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example65.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example59.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example58.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example64.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example70.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example48.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example74.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example60.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example61.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example75.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example49.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example88.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example63.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example77.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example76.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example62.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example89.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example84.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example90.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example47.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example53.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example52.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example46.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example91.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example85.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example93.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example87.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example50.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example44.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example78.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example79.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example45.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example51.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example86.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example92.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example96.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example82.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example69.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example55.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example41.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example40.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example54.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example68.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example83.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example97.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example81.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example95.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example42.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example56.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example57.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example43.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example94.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example80.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example24.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example30.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example18.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example0.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example1.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example19.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example31.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example25.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example33.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example27.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example3.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example2.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example26.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example32.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example36.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example22.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example6.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example7.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example23.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example37.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example21.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example35.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example5.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example4.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example34.csv', '/Users/kimdokyoung/Documents/dss/BOOK/Broomies/DATA/Watson/watson_travel/travel_example20.csv']

In [17]:
allData = []
for file in allFile_list:
    df = pd.read_csv(file, header=None)
    allData.append(df)

In [18]:
allData

[        0         1         2         3         4        5         6    \
 0  0.810324  0.317894  0.964839  0.008749  0.941393  0.63138  0.884457

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.957158  0.948854  0.790976  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1        2         3         4        5         6    \
 0  0.473411  0.219685  0.84803  0.003333  0.795617  0.75235  0.975425

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.928775  0.675453  0.498633  ...  1.0  1.0  0.5  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.789152  0.788171  0.974574  0.034664  0.831086  0.817589  0.906158

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.965173  0.964923  0.737662  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1         2         3         4        5         6    \
 0  0.234214  0.231965  0.994069  0.000688  0.926085  0.10183  0.996884

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.979598  0.955068  0.618464  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.260463  0.079027  0.969246  0.001523  0.923736  0.119542  0.926878

         7        8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.996014  0.96074  0.815659  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0        1         2         3         4         5         6    \
 0  0.825406  0.83592  0.993595  0.000249  0.888512  0.839446  0.867973

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.999147  0.999736  0.771664  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.988756  0.779655  0.998303  0.114152  0.991773  0.923556  0.825668

         7        8        9    ...  221  222  223  224  225  226  227  228  \
 0  0.989089  0.99932  0.97902  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.0  1.0

 [1 rows x 231 columns],
         0        1         2         3         4         5         6    \
 0  0.759141  0.58961  0.916465  0.000254  0.945984  0.796138  0.995793

        7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.99979  0.991292  0.803875  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.999928  0.988806  0.982418  0.007609  0.925839  0.982257  0.964014

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.998667  0.988137  0.387777  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0        1         2         3         4         5         6    \
 0  0.638754  0.33137  0.978105  0.014505  0.779228  0.134677  0.935763

        7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.96255  0.917116  0.766456  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
              0                  1  \
 0  {"code":400  sub_code:"S00014"

                                                    2
 0  error:"The number of words 70 is less than the...  ,
         0        1         2         3         4         5         6    \
 0  0.816974  0.32299  0.962979  0.000758  0.922004  0.855212  0.998259

         7         8        9    ...  221  222  223  224  225  226  227  228  \
 0  0.994942  0.971633  0.62192  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
              0                  1  \
 0  {"code":400  sub_code:"S00014"

                                                    2
 0  error:"The number of words 79 is less than the...  ,
        0         1         2         3         4         5         6    \
 0  0.59559  0.473611  0.977516  0.007951  0.851055  0.187602  0.964498

         7         8        9    ...  221  222  223  224  225  226  227  228  \
 0  0.990201  0.964639  0.91257  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.335365  0.239594  0.925994  0.012111  0.921204  0.282767  0.995873

         7         8        9    ...  221  222  223  224  225  226  227  228  \
 0  0.981164  0.914043  0.70969  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.425828  0.190769  0.935929  0.001849  0.682346  0.044655  0.995202

         7         8        9    ...  221  222  223  224  225  226  227  228  \
 0  0.992035  0.955849  0.84604  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

    229  230
 0  0.0  1.0

 [1 rows x 231 columns],
        0         1         2         3         4         5         6    \
 0  0.70857  0.420197  0.961187  0.091398  0.971401  0.185056  0.884817

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.983137  0.868765  0.978952  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1        2        3         4         5         6    \
 0  0.440717  0.121849  0.96735  0.01967  0.970605  0.071644  0.901993

         7         8        9    ...  221  222  223  224  225  226  227  228  \
 0  0.998517  0.956807  0.84187  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4       5         6    \
 0  0.602188  0.351359  0.932564  0.035063  0.835238  0.4197  0.949166

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.719349  0.879722  0.741836  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.809028  0.654386  0.963179  0.007898  0.902295  0.844786  0.991414

         7         8        9    ...  221  222  223  224  225  226  227  228  \
 0  0.991648  0.979638  0.79802  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
              0                  1  \
 0  {"code":400  sub_code:"S00015"

                                                    2  \
 0  error:"The input you provided matched 53 words...

                                                    3
 0   we require 70 matching words to calculate cha...  ,
              0                  1  \
 0  {"code":400  sub_code:"S00014"

                                                    2
 0  error:"The number of words 65 is less than the...  ,
              0                  1  \
 0  {"code":400  sub_code:"S00015"

                                                    2  \
 0  error:"The input you provided matched 62 words...

                                                    3
 0   we require 70 matching words to calculate cha...  ,
         0         1         2         3         4         5         6    \
 0  0.732265  0.696991  0.984506  0.173352  0.990526  0.146407  0.989348

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.994849  0.896495  0.641081  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0        1         2         3         4         5         6    \
 0  0.175074  0.06584  0.968601  0.038827  0.942292  0.003801  0.910045

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.981188  0.945518  0.513523  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5        6    \
 0  0.962296  0.909851  0.990456  0.162059  0.983016  0.704224  0.99357

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.892531  0.988162  0.866465  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.792139  0.730132  0.990551  0.024905  0.978678  0.799951  0.721629

        7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.98041  0.993927  0.937655  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.0  1.0

 [1 rows x 231 columns],
         0        1         2         3         4         5         6    \
 0  0.527855  0.22057  0.993265  0.001633  0.953368  0.119051  0.435681

        7         8       9    ...  221  222  223  224  225  226  227  228  \
 0  0.99285  0.965628  0.9873  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.678704  0.772458  0.980825  0.007979  0.879199  0.219859  0.985316

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.988869  0.966242  0.629272  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

    229  230
 0  0.0  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.300674  0.378795  0.945146  0.003587  0.636797  0.011931  0.916427

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.595034  0.805529  0.239248  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

    229  230
 0  0.0  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.844547  0.695593  0.999273  0.002329  0.980817  0.416849  0.984347

         7        8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.996767  0.96883  0.932081  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.438318  0.425929  0.940109  0.005625  0.742235  0.218508  0.817573

         7         8       9    ...  221  222  223  224  225  226  227  228  \
 0  0.987362  0.967345  0.6612  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
              0                  1  \
 0  {"code":400  sub_code:"S00015"

                                                    2  \
 0  error:"The input you provided matched 66 words...

                                                    3
 0   we require 70 matching words to calculate cha...  ,
         0         1         2        3         4         5         6    \
 0  0.348233  0.280972  0.972838  0.01221  0.881553  0.025072  0.958302

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.917932  0.915253  0.544955  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.650031  0.602319  0.991394  0.004683  0.951063  0.608243  0.986471

         7        8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.992725  0.92284  0.884188  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1        2        3         4         5         6    \
 0  0.624764  0.135677  0.99463  0.00564  0.976945  0.010964  0.842993

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.994617  0.869662  0.960487  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
        0         1         2         3         4         5         6    \
 0  0.75389  0.316107  0.997342  0.021672  0.943577  0.094569  0.991882

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.974841  0.992852  0.896752  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.164738  0.212244  0.841523  0.000568  0.746338  0.809787  0.880333

         7        8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.949418  0.85925  0.454865  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.490951  0.400421  0.945999  0.086301  0.840432  0.134641  0.916441

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.847463  0.758895  0.466774  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.690549  0.291534  0.946258  0.001217  0.894745  0.112637  0.999755

         7         8        9    ...  221  222  223  224  225  226  227  228  \
 0  0.889893  0.465381  0.28847  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.800907  0.749655  0.994534  0.058869  0.971562  0.587659  0.953471

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.995885  0.998899  0.885311  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
        0        1         2         3         4         5         6    \
 0  0.64747  0.51533  0.985874  0.040305  0.934576  0.231525  0.805585

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.974489  0.972331  0.769405  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0        1         2         3         4        5         6    \
 0  0.423314  0.46857  0.994414  0.017044  0.969775  0.44806  0.789283

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.975793  0.973803  0.891466  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

    229  230
 0  0.0  1.0

 [1 rows x 231 columns],
              0                  1  \
 0  {"code":400  sub_code:"S00015"

                                                    2  \
 0  error:"The input you provided matched 62 words...

                                                    3
 0   we require 70 matching words to calculate cha...  ,
         0         1         2       3         4         5         6    \
 0  0.562657  0.187372  0.993504  0.0003  0.982824  0.071217  0.975146

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.997187  0.986287  0.901347  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.279103  0.331617  0.936916  0.047819  0.828346  0.130722  0.665174

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.944793  0.862453  0.846889  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3        4         5         6    \
 0  0.551388  0.204719  0.923844  0.002858  0.83454  0.140867  0.996919

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.994733  0.758551  0.820039  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.364403  0.621888  0.833512  0.017758  0.463465  0.199693  0.948121

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.943942  0.678941  0.427283  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.731434  0.644251  0.994395  0.061319  0.978861  0.553978  0.890288

        7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.99865  0.999204  0.952196  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.916761  0.815988  0.998439  0.007059  0.900393  0.439415  0.855822

         7         8        9    ...  221  222  223  224  225  226  227  228  \
 0  0.977417  0.996086  0.71602  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.374068  0.509737  0.996964  0.000233  0.941951  0.502053  0.980095

         7       8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.999411  0.9983  0.802435  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1        2         3         4        5         6    \
 0  0.370671  0.131678  0.99371  0.248317  0.987833  0.36417  0.820232

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.885791  0.959922  0.924855  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5

 [1 rows x 231 columns],
         0         1        2         3         4         5         6    \
 0  0.830253  0.464933  0.98544  0.002126  0.914745  0.361223  0.908657

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.983703  0.951682  0.955684  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.882168  0.391629  0.991732  0.000645  0.941901  0.717532  0.887158

         7        8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.988628  0.98948  0.691256  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
              0                  1  \
 0  {"code":400  sub_code:"S00015"

                                                    2  \
 0  error:"The input you provided matched 65 words...

                                                    3
 0   we require 70 matching words to calculate cha...  ,
         0         1         2         3         4         5         6    \
 0  0.466962  0.416228  0.949734  0.016073  0.857658  0.517989  0.998838

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.994819  0.907656  0.806156  ...  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0

    229  230
 0  0.0  1.0

 [1 rows x 231 columns],
         0         1        2         3         4         5         6    \
 0  0.716525  0.626384  0.98639  0.007764  0.882828  0.357023  0.995204

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.986937  0.951835  0.541496  ...  1.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  1.0

 [1 rows x 231 columns],
         0         1         2         3         4         5         6    \
 0  0.562703  0.407483  0.971428  0.321069  0.829131  0.403455  0.651285

         7         8         9    ...  221  222  223  224  225  226  227  228  \
 0  0.808048  0.801856  0.402975  ...  1.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0

    229  230
 0  0.5  0.5


In [19]:
dataCombine = pd.concat(allData, axis=0, ignore_index=False)

In [21]:
dataCombine

,0,1,2,3,4,5,6,7,8,9,...,221,222,223,224,225,226,227,228,229,230
0,0.810324,0.317894,0.964839,0.00874906,0.941393,0.631380,0.884457,0.957158,0.948854,0.790976,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0
0,0.473411,0.219685,0.84803,0.00333308,0.795617,0.752350,0.975425,0.928775,0.675453,0.498633,...,1.0,1.0,0.5,0.0,1.0,1.0,0.0,1.0,0.5,0.5
0,0.789152,0.788171,0.974574,0.0346635,0.831086,0.817589,0.906158,0.965173,0.964923,0.737662,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.5,0.5
0,0.234214,0.231965,0.994069,0.000688271,0.926085,0.101830,0.996884,0.979598,0.955068,0.618464,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0
0,0.260463,0.0790267,0.969246,0.00152254,0.923736,0.119542,0.926878,0.996014,0.960740,0.815659,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"{""code"":400","sub_code:""S00015""","error:""The input you provided matched 41 words...",we require 70 matching words to calculate cha...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"{""code"":400","sub_code:""S00015""","error:""The input you provided matched 64 words...",we require 70 matching words to calculate cha...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0.854292,0.638409,0.99846,0.0018579,0.917135,0.192883,0.989676,0.990932,0.968857,0.687075,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0
0,"{""code"":400","sub_code:""S00015""","error:""The input you provided matched 58 words...",we require 70 matching words to calculate cha...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0.445621,0.174659,0.86169,0.0141082,0.660269,0.285113,0.929376,0.931853,0.775003,0.413600,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0

In [30]:
temp = pd.read_csv('../DATA/TRAVEL/travel_labeling_345-462.csv', index_col=0)
temp = temp[:100]

In [40]:
temp

,code,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group,drop,area,company,interest,comment
0,20018,United States of America,San Francisco,4.94,1578,655,가이드 투어,요세미티 국립공원 일일투어 (글래시어포인트포함),"✔ 스냅사진, 아침간식과 점심(컵라면), 기념품샾방문, 가이드팁까지 모두포함 (팁은...",1박2일투어가 대부분이라 당일 투어도 괜찮을까 생각했는데 투어를 하고보니 전혀 걱정...,"{'purpose': 'friends', 'age_group': '20'}",friends,20,N,자연,친구,Ad,NaN
1,15749,United States of America,Las Vegas,4.91,1473,576,가이드 투어,[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수),☆ 혼자 예약하셔도 OK ☆ ☆ 2인부터 출발 가능합니다 ☆ Ƹ̵̡Ӝ̵̨̄Ʒ 여...,"가이드분께서 배경 지식도 많아서 역사적인 부분을 설명해주시기도 하고, 시국이 이래서...","{'purpose': 'friends', 'age_group': '20'}",friends,20,N,자연,친구,Ad,NaN
2,7063,Canada,Toronto,4.98,268,124,가이드 투어,캐나다 자연 즐기기2- 나이아가라 폭포,나이아가라 주변을 하루 안에 두루두루 관광하려면 현지를 잘 아는 사람과 함께 기동성...,가족 4명이 갔는데 차량이 여유 있었어요 아이스와인을 소개해 주셨는데 갔다온 지 꽤...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N,자연,허니문,Ad,NaN
3,60509,Canada,Toronto,4.92,231,92,가이드 투어,[투어] 토론토에서 출발하는 나이아가라 폭포 당일치기 여행 / 영진가이드 (캐나다/...,"캐나다 하면 떠오르는 그곳, 죽기 전에 꼭 한번 봐야하는 절경! 절대 놓치면 안 ...",남편과 토론토 여행하며 영진투어를 신청하게 되었는데요~~!! 정말 가이드님 적극 추...,"{'purpose': 'honeymoon', 'age_group': '20'}",honeymoon,20,N,자연,허니문,Sh,NaN
4,31845,Canada,Toronto,4.81,138,62,가이드 투어,캐나다 투어1 - 나이아가라 폭포 일일관광 ( 단독투어 ),이 상품은 단독 상품 입니다. 개인 투어의 자유함을 느껴보세요^^* NPC(Niag...,친절하게 잘 대해주시고 단독투어라 좀더 편하게 다녀올수있었습니다. 충분한 자유시간을...,"{'purpose': 'honeymoon', 'age_group': '30'}",honeymoon,30,N,자연,가족,Ex,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,27625,Egypt,hurghada.,4.57,15,7,액티비티,후르가다: 근교 홍해의 돌고래 스노클링 투어,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...","2월의 홍해, 너무 좋았습니다. 배에서 이동시간과 대기시간이 길어요. 단 그 시간동...","{'purpose': 'partner', 'age_group': '30'}",partner,30,N,자연,허니문,Ad,NaN
96,46058,Egypt,Cairo,4.50,27,4,티켓/교통패스,카이로: 나일강 4시간 디너 크루즈,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",호텔 앞까지 데리러 오고 데려다주고 해서 굉장히 편리했습니다 그리고 여러명을 함께 ...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N,도시,허니문,Sh,NaN
97,36473,Egypt,Cairo,4.50,17,4,가이드 투어,카이로: 기자 피라미드&스핑크스 반일 프라이빗 투어,"본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔...",그냥 저냥 보통이었네요비수기라 그런지 여유롭고 한가한 여행을 하게되었습니다.. 덕분...,"{'purpose': 'friends', 'age_group': '20'}",friends,20,N,도시,친구,Kn,NaN
98,36474,Egypt,Cairo,4.00,6,3,가이드 투어,[세계 7대 불가사의] 카이로 기자 피라미드/이집트 박물관/바자르 종일 가이드 투어,"본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔야...",쇼핑 다수. 털어먹을려는게 보입니다. 교통편의 좋고 사진열심히 찍어줌.픽업 시간을 ...,"{'purpose': 'children', 'age_group': '40'}",children,40,N,도시,가족,Kn,NaN
99,35729,Egypt,Cairo,3.67,10,3,가이드 투어,[카이로→알렉산드리아] 알짜배기 이집트 역사 가이드 투어,"본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔야...",관광지 입장료와 점심식사비용이 포함되어있다고 해서 예약을 했는데 막상 현지에서 가이...,"{'purpose': 'friends', 'age_group': '30'}",friends,30,N,도시,친구,Kn,NaN

In [41]:
list(temp['title'])

['요세미티 국립공원 일일투어 (글래시어포인트포함)',
 '[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수)',
 '캐나다 자연 즐기기2- 나이아가라 폭포',
 '[투어] 토론토에서 출발하는 나이아가라 폭포 당일치기 여행 / 영진가이드 (캐나다/토론토)',
 ' 캐나다 투어1 - 나이아가라 폭포 일일관광 ( 단독투어 )',
 '빅토리아 (캐나다 밴쿠버) 투어 마이리얼트립 에릭과 함께하세요.',
 '[투어] (1일 투어) 살면서 꼭 가야 하는 밴프 로키여행 (1월~12월) : 캐나다/밴프',
 '휘슬러 (밴쿠버) 투어 마이리얼트립 에릭과 함께하세요.',
 '푼타카나: 패러세일링, 스노클링 크루즈, 상어와 가오리 만나기',
 '당일투어 칸쿤 필수코스! 핑크라군+익킬세노떼+치첸잇사',
 "세계 7대 불가사의 '치첸잇사' 한국인가이드 투어(매주 수/금)-멕시코 칸쿤",
 '"열정의 나라, 멕시코" 가이드 투어! (프라이빗 맞춤형 투어)',
 '태양과 떼낄라의 멕시코 - 멕시코의 매력에 빠져봅시다!',
 '나소 : 음식 & 문화 투어',
 '3시간 동안 시내 곳곳을 돌아보는 라파스 가이드 워킹 투어',
 '남미 리오 데 자네이로 투어 !!! (당일 풀옵션 )',
 '리우데자네이루: 브라질 예수상, 셀라론 계단 & 슈거로프산 선셋 투어',
 '상파울루에서 먹고 마시는 힐링여행!',
 '리우데자네이루 브라질 예수상, 슈거로프산 및 셀라론 계단 전일 투어',
 '[투어] 리오 데 자네이로 (페트로 폴리스-full day)-단독투어 (브라질/리오 데 자네이루)',
 '리우데자네이루 : 그리스도상, 슈거로프산 종일 투어 ',
 '[투어] 상파울로 차량 시티투어 :: 브라질/상파울루',
 '[투어] 리우데자네이루 한인 시티투어 (텔레그라포 포함) :: 브라질/리우데자네이루',
 '부에노스아이레스 FullDay시티투어',
 '[투어] 편안하고 안전한 시티 차량 투어(한인가이드) :: 아르헨티나/부에노스 아이레스',
 '부에노스 아이레스 반일 투어',
 '부에노스아이레스: 가이드와 함께하는 종일 도보 투어',
 '남미의 파리! 부에노스 아이레스 스토리텔링 투어!',
 '부에노스아이레스 산타 수산나 가우초  FullDay 투어',
 '[단 1명도 출발!소규모 투어] 산티아고 워킹 시티 투어 3시간',
 '산호세 출발 : 거북이의 땅 또르뚜게로 국립 공원 투어',
 '산호세에서 떠나는 이라수(Irazu) 화산, 오로시(Orosi) 계곡, 랑카스터(Lankaster) 정원 투어',
 '산호세에서 떠나는 코스타리카 종일 투어',
 '보고타: 자전거를 타고 둘러보는 가이드 시티 투어',
 '[투어] 올드카 낭만투어 & 올드아바나 워킹투어 (한국어) :: 쿠바/아바나',
 '[투어] 올드 아바나 워킹투어 (한국어) :: 쿠바/아바나',
 '[투어] 아바나 필수! 현지 선생님과 즐기는 살사수업 :: 쿠바/아바나',
 '[투어] 올드카(Old Car) 낭만투어 (한국어) :: 쿠바/아바나',
 '[리마] 반나절 소그룹 시티 투어',
 '리마에서 출발하는 파차카막/바랑코 반일 투어',
 '[한국인투어] 호빗 마을과 반짝반짝 와이토모 반딧불동굴(단독투어) :: 뉴질랜드/오클랜드',
 '오클랜드 : 호비튼 마을 & 와이토모 동굴 투어',
 '퀸스타운 : 밀포드 사운드 투어 (크루즈 포함 / 7시 출발)',
 '[한국인투어] 반지의제왕, 호빗을 봤다면 호빗튼으로!!(단독투어) :: 뉴질랜드/오클랜드',
 '[한국인투어] 반짝반짝 와이토모 반딧불 동굴 투어 (단독투어) :: 뉴질랜드/오클랜드',
 '[투어] 오클랜드 : 코로만델 명소 단독투어 (뉴질랜드/오클랜드)',
 '오클랜드 단독자유여행',
 '[투어] 특가! 포트스테판+와이너리&씨푸드뷔페+워킹투어&포포크림+비자무료! (호주/시드니)',
 '[투어]힘내라 한국/알차고편안한 소그룹여행/그레이트오션로드,12사도,런던브릿지:호주/멜버른',
 '[투어] 블루마운틴+킹스테이블+페더데일+무료워킹투어 Bonus 선물이벤트 :: 호주/시드니',
 '[투어] 특가! 블루마운틴&페더데일+킹스테이블랜드+워킹투어&포포크림+비자무료(호주/시드니)',
 '[투어][가을이벤트](매일)[+3월벤츠소그룹]절대가격/그레이트오션[런던브릿지]:호주/멜버른',
 '[투어] 3 in 1/소확행특가/그레이트오션로드,퍼핑빌리기관차,펭귄퍼레이드::호주/멜버른',
 '[투어] [뭉쳐야싸다 콤보] 포트스테판&블루마운틴+무료워킹투어,포포크림:: 호주/시드니',
 '[리얼가이드선정 감사세일/선착순한정] 그레이트오션로드로 가는 감동투어 ::호주/멜버른',
 '[괌] 만족도 1위! 괌 오션벤처 돌핀 크루즈와 함께 맑고 깨끗한 바다에서 힐링하기!',
 '[괌] 김태광가이드와 함께하는  남부투어, 괌 로컬 분위기를 가장 잘 느낄 수 있는 투어',
 '괌 씨워커',
 '괌 돌핀크루즈+피쉬아이 해중전망대',
 '반나절만에 즐기는 괌 시내투어(사랑의 절벽포함)',
 '[투어] 후기만족1위! 괌돌핀크루즈+면세점할인쿠폰+소아스노쿨보드+참치회음료+스노쿨링낚시',
 '[투어] 괌 세일즈바베큐 1+1 프로모션 소아100원!무제한맥주샐러드&1만원면세점할인쿠폰',
 '[투어] 좋은후기가장많은 고퀄 별빛투어 with 한국인 가이드 Joe :: 사이판',
 '[투어] [후기만족1위]사이판 그로토 ( 그루토 ) 한인업체+스노클링&다이빙체험+북부관광',
 '[투어] 좋은후기많은 사이판 마나가하 +해양스포츠  (아이스박스&돗자리 무료제공) ',
 '[사이판] 마나가하섬 1일팩 (파라세일링+마나가하섬+보트)+아이스박스와 돗자리 포함',
 '[투어] 그로토 스노쿨링 (수중사진무료제공) &체험다이빙  :: 사이판',
 '[투어] 제리아저씨의 공연과 함께하는 사이판 선셋 BBQ디너 크루즈 ',
 '[사이판] 사이판 별빛 투어 (야간 투어)',
 '[투어] B 퍼펙트 락 아일랜드 스노쿨링 (Perfect Rock Island):: 팔라우',
 '[투어] C 낭만 별빛 낚시 (퍼밋포함) (Night Fishing Tour) :: 팔라우',
 'D 팔라우 레전드 스파 마사지 (Legend Spa & Massage)',
 '[투어] A 스페셜 락 아일랜드 스노클링 (Special Rock Island)',
 '[투어] 펀 다이빙 (팔라우/락아일랜드)',
 '[투어] 스페셜 락 아일랜드 투어 (팔라우/락아일랜드)',
 '[투어] 나이트 카약 투어 (팔라우/락아일랜드)',
 '[투어] 롱비치&밀키웨이 투어 (팔라우/락아일랜드)',
 '케이프타운 희망봉 1일 투어',
 "케이프타운 베스트 1일투어 (일명 '일찍 일어나는 새' 투어)",
 '[투어] 크루거내셔날파크 사파리 2박 3일 투어 (남아프리카공화국/요하네스버그) ',
 '[투어] 남아공  핵심 시내투어(남아프리카공화국/요하네스버그)',
 '케이프타운 : 케이프 와인랜드 와인 체험 투어',
 '마라케시에서 출발하는 자고라 사하라 사막 여행 (2일)',
 '마라케시에서 메르조가까지 사막사파리 3일 투어 ',
 '마라케시 출발: 사하라사막 메르주가 에르그셰비 3일 투어',
 '마라케시 출발: 와르자자트와 아이트 벤하두 종일 투어',
 '마라케시에서 출발하는 에사우이라 종일 투어',
 '마라케시 출발 : 2박 3일 사하라 사막 투어',
 '마라케시 사막 & 야자 숲 사륜 오토바이 투어',
 '마라케시의 역사를 돌아보는 4시간 투어',
 '마라케시 출발: 오조드 폭포로 떠나는 종일 투어',
 '모리셔스: 르몽산(UNESCO 자연 유산) 친환경 하이킹',
 '모리셔스: 블랙리버 해안에서 돌고래와 수영하고 고래를 볼 수 있는 스피드보트 투어',
 '모리셔스: 자연 그대로를 즐기는 남서부 종일 단체 투어',
 '모리셔스 : 블랙 리버 수영 & 돌고래 스피드 보트 투어',
 '후르가다:  근교 홍해의 돌고래 스노클링 투어',
 '카이로: 나일강 4시간 디너 크루즈',
 '카이로: 기자 피라미드&스핑크스 반일 프라이빗 투어',
 '[세계 7대 불가사의] 카이로 기자 피라미드/이집트 박물관/바자르 종일 가이드 투어',
 '[카이로→알렉산드리아] 알짜배기 이집트 역사 가이드 투어']

In [43]:
dataCombine['title'] = np.nan
dataCombine['title'] = list(temp['title'])
dataCombine

,0,1,2,3,4,5,6,7,8,9,...,222,223,224,225,226,227,228,229,230,title
0,0.810324,0.317894,0.964839,0.00874906,0.941393,0.631380,0.884457,0.957158,0.948854,0.790976,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0,요세미티 국립공원 일일투어 (글래시어포인트포함)
0,0.473411,0.219685,0.84803,0.00333308,0.795617,0.752350,0.975425,0.928775,0.675453,0.498633,...,1.0,0.5,0.0,1.0,1.0,0.0,1.0,0.5,0.5,[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수)
0,0.789152,0.788171,0.974574,0.0346635,0.831086,0.817589,0.906158,0.965173,0.964923,0.737662,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.5,0.5,캐나다 자연 즐기기2- 나이아가라 폭포
0,0.234214,0.231965,0.994069,0.000688271,0.926085,0.101830,0.996884,0.979598,0.955068,0.618464,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0,[투어] 토론토에서 출발하는 나이아가라 폭포 당일치기 여행 / 영진가이드 (캐나다/...
0,0.260463,0.0790267,0.969246,0.00152254,0.923736,0.119542,0.926878,0.996014,0.960740,0.815659,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0,캐나다 투어1 - 나이아가라 폭포 일일관광 ( 단독투어 )
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"{""code"":400","sub_code:""S00015""","error:""The input you provided matched 41 words...",we require 70 matching words to calculate cha...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,후르가다: 근교 홍해의 돌고래 스노클링 투어
0,"{""code"":400","sub_code:""S00015""","error:""The input you provided matched 64 words...",we require 70 matching words to calculate cha...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,카이로: 나일강 4시간 디너 크루즈
0,0.854292,0.638409,0.99846,0.0018579,0.917135,0.192883,0.989676,0.990932,0.968857,0.687075,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0,카이로: 기자 피라미드&스핑크스 반일 프라이빗 투어
0,"{""code"":400","sub_code:""S00015""","error:""The input you provided matched 58 words...",we require 70 matching words to calculate cha...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[세계 7대 불가사의] 카이로 기자 피라미드/이집트 박물관/바자르 종일 가이드 투어
0,0.445621,0.174659,0.86169,0.0141082,0.660269,0.285113,0.929376,0.931853,0.775003,0.413600,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0,[카이로→알렉산드리아] 알짜배기 이집트 역사 가이드 투어

In [44]:
dataCombine.to_csv(output_file, index=False)

In [45]:
result = pd.read_csv('../DATA/Watson/watson_travel/travel_final.csv')

In [46]:
result = result.dropna()