In [6]:
bk = pd.read_csv('../DATA/BOOK/book_introduce.csv')
bk[:2]

            ISBN                                                int
0  9788937437496  오월을 사랑하고 오월을 닮은 시인 피천득 수필집 『인연』. 피천득 특유의 천진함과 ...
1  9788965708827  혼자여서 괜찮은 시간에서 혼자여서 괜찮은 하루로, 나아가 혼자여서 괜찮은 삶을 살아...

In [11]:
len(bk)

208

In [23]:
key = pd.read_csv('../DATA/BOOK/total_keyword_book.csv', index_col=0)
key[:2]

,label,category,ISBN,title,author,publisher,new_keyword,new_subject
0,1,3,9788937437496,인연,피천득,민음사,시인 수필 오월 박준 박완서 수필집,NaN
1,1,5,9791129706126,"최태성 한국사능력검정시험: 심화(1, 2, 3급)",최태성,메가스터디,스토리텔링 광개토대왕 기출문제 파이널 압축 막판,NaN

In [24]:
df_all = pd.merge(bk, key, on='ISBN')
df_all.columns

Index(['ISBN', 'int', 'label', 'category', 'title', 'author', 'publisher',
       'new_keyword', 'new_subject'],
      dtype='object')

In [25]:
len(df_all)

208

In [26]:
df_all = df_all[['ISBN', 'title', 'author', 'publisher', 'new_keyword', 'new_subject', 'int']]

In [31]:
df_all[:2]

,ISBN,title,author,publisher,new_keyword,new_subject,int
0,9788937437496,인연,피천득,민음사,시인 수필 오월 박준 박완서 수필집,NaN,오월을 사랑하고 오월을 닮은 시인 피천득 수필집 『인연』. 피천득 특유의 천진함과 ...
1,9788965708827,혼자여서 괜찮은 하루,곽정은,포르체,연애 일상 심리학 한국에세이 위로 마음챙김,한국에세이 명상 혼자 소확행 연애 일상 마음챙김 심리학,"혼자여서 괜찮은 시간에서 혼자여서 괜찮은 하루로, 나아가 혼자여서 괜찮은 삶을 살아..."

In [48]:
isbns = []
for i in range(len(df_all)):
    isbn = str(int(df_all['ISBN'][i]))
    isbns.append(isbn)
len(isbns)

df_all['ISBN'] = isbns

In [49]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208 entries, 0 to 207
Data columns (total 7 columns):
ISBN           208 non-null object
title          208 non-null object
author         208 non-null object
publisher      208 non-null object
new_keyword    179 non-null object
new_subject    95 non-null object
int            196 non-null object
dtypes: object(7)
memory usage: 23.0+ KB

In [27]:
df = pd.read_csv('../DATA/BOOK/book_01_03_15_05_noun.csv', index_col=0)

In [41]:
isbns = []
for i in range(len(df)):
    isbn = str(int(df['ISBN'][i]))
    isbns.append(isbn)
len(isbns)

df['ISBN'] = isbns

In [42]:
df[:2]

,category,ISBN,title,corpus,corpus3,area,company,interest,comment
0,1,9788956609959,종의 기원,펴내는 작품마다 압도적인 서사와 폭발적인 이야기의 힘으로 많은 독자들의 뜨거운 사랑...,작품 압도 서사 폭발 이야기 힘 독자 사랑 온 작가 정유 정의 장편소설 종 기원 전...,자연,혼자,Kn,NaN
1,1,9788936477936,"알로하, 나의 엄마들",따스한 손길로 마음을 어루만지는 이 시대 선한 이야기꾼 이금이 작가의 장편소설 『알...,손길 마음 이 시대 이야기 금 작가 장편소설 알로하 나 엄마 사진 장 평생 운명 하...,자연,가족,Kn,NaN

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 0 to 416
Data columns (total 9 columns):
category    417 non-null int64
ISBN        417 non-null object
title       417 non-null object
corpus      417 non-null object
corpus3     417 non-null object
area        417 non-null object
company     417 non-null object
interest    417 non-null object
comment     109 non-null object
dtypes: int64(1), object(8)
memory usage: 52.6+ KB

In [50]:
df_new = pd.merge(df_all, df, on='ISBN')
len(df_new)

108

In [35]:
df_perfect = df_new[['title', 'author', 'publisher', 'new_keyword', 'new_subject', 'int', 'area', 'company', 'interest']]

In [36]:
df_perfect[:2]

,title,author,publisher,new_keyword,new_subject,int,area,company,interest
0,인연,피천득,민음사,시인 수필 오월 박준 박완서 수필집,NaN,오월을 사랑하고 오월을 닮은 시인 피천득 수필집 『인연』. 피천득 특유의 천진함과 ...,자연,가족,Ar
1,혼자여서 괜찮은 하루,곽정은,포르체,연애 일상 심리학 한국에세이 위로 마음챙김,한국에세이 명상 혼자 소확행 연애 일상 마음챙김 심리학,"혼자여서 괜찮은 시간에서 혼자여서 괜찮은 하루로, 나아가 혼자여서 괜찮은 삶을 살아...",도시,혼자,Ex

### 데이터 전처리

In [61]:
df_perfect['temp'] = df_perfect['area'] + df_perfect['company'] + df_perfect['interest'] + df_perfect['title'] + df_perfect['author'] + df_perfect['publisher'] + df_perfect['new_keyword'] + df_perfect['new_subject'] + df_perfect['int']

In [62]:
len(df_perfect['temp'].notnull())

108

In [63]:
df_perfect = df_perfect.fillna(' ')

### 라벨인코딩

In [64]:
temp = []
temp.append(list(df_perfect['interest'].unique()))
temp.append(list(df_perfect['area'].unique()))
temp.append(list(df_perfect['company'].unique()))
temp = sum(temp, [])

In [65]:
temp

['Ar', 'Ex', 'Sh', 'Kn', 'Ad', 'Et', 'Fo', '자연', '도시', '가족', '혼자', '친구', '허니문']

In [66]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(temp)

LabelEncoder()

In [68]:
df_perfect['y1'] = df_perfect['area'].apply(lambda x: le.transform([x])[0])
df_perfect['y2'] = df_perfect['company'].apply(lambda x : le.transform([x])[0])
df_perfect['y3'] = df_perfect['interest'].apply(lambda x : le.transform([x])[0])

In [69]:
df_perfect[:2]

,title,author,publisher,new_keyword,new_subject,int,area,company,interest,temp,y1,y2,y3
0,인연,피천득,민음사,시인 수필 오월 박준 박완서 수필집,,오월을 사랑하고 오월을 닮은 시인 피천득 수필집 『인연』. 피천득 특유의 천진함과 ...,자연,가족,Ar,자연가족Ar인연피천득민음사시인 수필 오월 박준 박완서 수필집 오월을 사랑하고 오월을...,9,7,1
1,혼자여서 괜찮은 하루,곽정은,포르체,연애 일상 심리학 한국에세이 위로 마음챙김,한국에세이 명상 혼자 소확행 연애 일상 마음챙김 심리학,"혼자여서 괜찮은 시간에서 혼자여서 괜찮은 하루로, 나아가 혼자여서 괜찮은 삶을 살아...",도시,혼자,Ex,도시혼자Ex혼자여서 괜찮은 하루곽정은포르체연애 일상 심리학 한국에세이 위로 마음챙김...,8,12,3

### tfidf vectorize

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer()
X = tf.fit_transform(df_perfect['temp']).toarray()

In [71]:
Y = np.vstack((np.array(df_perfect['y1']),np.array(df_perfect['y2']),np.array(df_perfect['y3']))).T
Y

array([[ 9,  7,  1],
       [ 8, 12,  3],
       [ 9, 12,  1],
       [ 8,  7,  6],
       [ 8, 12,  5],
       [ 8, 10,  3],
       [ 9,  7,  6],
       [ 8,  7,  1],
       [ 9, 12,  1],
       [ 8, 12,  6],
       [ 8, 12,  5],
       [ 8, 12,  1],
       [ 8,  7,  0],
       [ 8, 11,  6],
       [ 9, 12,  6],
       [ 8, 12,  3],
       [ 8, 12,  1],
       [ 9,  7,  1],
       [ 9, 12,  1],
       [ 8, 12,  6],
       [ 9,  7,  1],
       [ 8, 12,  6],
       [ 8, 12,  5],
       [ 8, 10,  6],
       [ 8, 12,  3],
       [ 8, 12,  3],
       [ 9, 12,  1],
       [ 8, 10,  0],
       [ 9, 12,  1],
       [ 9, 10,  1],
       [ 8, 10,  2],
       [ 8, 12,  0],
       [ 9,  7,  1],
       [ 8, 12,  1],
       [ 8, 11,  3],
       [ 9,  7,  1],
       [ 9, 12,  3],
       [ 9,  7,  3],
       [ 8, 12,  0],
       [ 8, 10,  0],
       [ 8, 12,  1],
       [ 8, 10,  4],
       [ 8, 12,  6],
       [ 9, 10,  0],
       [ 9,  7,  3],
       [ 8,  7,  1],
       [ 8, 12,  5],
       [ 8, 10,  3],
       [ 8, 12,  6],
       [ 9, 12,  5],
       [ 8,  7,  5],
       [ 9,  7,  1],
       [ 9, 12,  3],
       [ 9, 12,  3],
       [ 8, 12,  1],
       [ 8, 12,  6],
       [ 8, 12,  1],
       [ 9,  7,  1],
       [ 9, 12,  3],
       [ 8, 12,  6],
       [ 9, 12,  5],
       [ 8, 10,  4],
       [ 9,  7,  3],
       [ 8,  7,  5],
       [ 9,  7,  5],
       [ 9, 12,  1],
       [ 9,  7,  3],
       [ 8, 12,  5],
       [ 8, 10,  3],
       [ 8, 12,  5],
       [ 8, 10,  6],
       [ 9,  7,  4],
       [ 9, 12,  4],
       [ 8, 10,  6],
       [ 8, 10,  6],
       [ 8,  7,  5],
       [ 9, 12,  0],
       [ 9, 12,  5],
       [ 8, 10,  2],
       [ 8, 11,  4],
       [ 8, 12,  0],
       [ 9, 12,  5],
       [ 9,  7,  5],
       [ 9, 12,  3],
       [ 9,  7,  5],
       [ 9, 12,  0],
       [ 9, 12,  1],
       [ 8, 10,  5],
       [ 8,  7,  0],
       [ 8, 11,  4],
       [ 9,  7,  4],
       [ 8, 12,  3],
       [ 9, 12,  0],
       [ 8, 10,  0],
       [ 9, 12,  5],
       [ 8, 12,  2],
       [ 9, 12,  3],
       [ 8, 12,  2],
       [ 8, 12,  5],
       [ 8, 10,  1],
       [ 8, 10,  3],
       [ 8, 12,  0],
       [ 8, 10,  6],
       [ 9, 12,  0],
       [ 9, 12,  0],
       [ 9, 12,  5],
       [ 8,  7,  5],
       [ 8, 10,  6]], dtype=int64)

### train, test 나누기

In [72]:
# train, test split
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=13, test_size=0.1)

### multinomial NB

In [73]:
from sklearn.multioutput import MultiOutputClassifier
from sklearn.naive_bayes import MultinomialNB

NB = MultinomialNB()
multi_target_NB = MultiOutputClassifier(NB, n_jobs=-1)
model_NB = multi_target_NB.fit(X_train, Y_train)

In [74]:
model_NB.score(X_test, Y_test)

0.09090909090909091

### Randomforest

In [75]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(random_state=2, max_features=60, n_estimators=40)
multi_target_RF = MultiOutputClassifier(RF, n_jobs=-1)
model_RF = multi_target_RF.fit(X_train, Y_train)

In [76]:
model_RF.score(X_test, Y_test)

0.09090909090909091