### 데이터로드 - activity

In [53]:
#activity = pd.read_csv("../data_set/travel/mrt_3column_labeling_104.csv", index_col=0).reset_index(drop=True)
#activity

In [39]:
activity = pd.read_csv("../data_set/travel/mrt_3column_labeling_104.csv", index_col=0).reset_index(drop=True)

In [7]:
#replace_keywords = []

#for i in range(len(activity)):
#    keyword = activity['keyword'][i].replace("#", "")
#    replace_keywords.append(keyword)
    
#activity['keyword2'] = replace_keywords

In [26]:
activity

,code,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group,drop,area,company,interest,comment
0,20018,United States of America,San Francisco,4.94,1578,655,가이드 투어,요세미티 국립공원 일일투어 (글래시어포인트포함),"✔ 스냅사진, 아침간식과 점심(컵라면), 기념품샾방문, 가이드팁까지 모두포함 (팁은...",1박2일투어가 대부분이라 당일 투어도 괜찮을까 생각했는데 투어를 하고보니 전혀 걱정...,"{'purpose': 'friends', 'age_group': '20'}",friends,20,N,자연,친구,Ad,NaN
1,15749,United States of America,Las Vegas,4.91,1473,576,가이드 투어,[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수),☆ 혼자 예약하셔도 OK ☆ ☆ 2인부터 출발 가능합니다 ☆ Ƹ̵̡Ӝ̵̨̄Ʒ 여...,"가이드분께서 배경 지식도 많아서 역사적인 부분을 설명해주시기도 하고, 시국이 이래서...","{'purpose': 'friends', 'age_group': '20'}",friends,20,N,자연,친구,Ad,NaN
2,7063,Canada,Toronto,4.98,268,124,가이드 투어,캐나다 자연 즐기기2- 나이아가라 폭포,나이아가라 주변을 하루 안에 두루두루 관광하려면 현지를 잘 아는 사람과 함께 기동성...,가족 4명이 갔는데 차량이 여유 있었어요 아이스와인을 소개해 주셨는데 갔다온 지 꽤...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N,자연,허니문,Ad,NaN
3,60509,Canada,Toronto,4.92,231,92,가이드 투어,[투어] 토론토에서 출발하는 나이아가라 폭포 당일치기 여행 / 영진가이드 (캐나다/...,"캐나다 하면 떠오르는 그곳, 죽기 전에 꼭 한번 봐야하는 절경! 절대 놓치면 안 ...",남편과 토론토 여행하며 영진투어를 신청하게 되었는데요~~!! 정말 가이드님 적극 추...,"{'purpose': 'honeymoon', 'age_group': '20'}",honeymoon,20,N,자연,허니문,Sh,NaN
4,31845,Canada,Toronto,4.81,138,62,가이드 투어,캐나다 투어1 - 나이아가라 폭포 일일관광 ( 단독투어 ),이 상품은 단독 상품 입니다. 개인 투어의 자유함을 느껴보세요^^* NPC(Niag...,친절하게 잘 대해주시고 단독투어라 좀더 편하게 다녀올수있었습니다. 충분한 자유시간을...,"{'purpose': 'honeymoon', 'age_group': '30'}",honeymoon,30,N,자연,가족,Ex,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,35729,Egypt,Cairo,3.67,10,3,가이드 투어,[카이로→알렉산드리아] 알짜배기 이집트 역사 가이드 투어,"본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔야...",관광지 입장료와 점심식사비용이 포함되어있다고 해서 예약을 했는데 막상 현지에서 가이...,"{'purpose': 'friends', 'age_group': '30'}",friends,30,N,도시,친구,Kn,NaN
100,42623,Egypt,hurghada.,4.00,8,2,가이드 투어,후르가다 출발 룩소르 전일 관광,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",와 진짜..왕복 시간 너무 길었어요 솔직히 오후 여섯시에 끝날줄 알았는데 중간에 휴...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N,도시,허니문,Kn,NaN
101,27627,Egypt,hurghada.,4.00,7,2,액티비티,후르가다: 사륜 바이크로 3시간 사막 사파리 여행,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",좋아요생각보다 너무 오래타야해서 손이 아팠어요ㅠ 그리고 배두인 마을이 아니라 그냥 ...,"{'purpose': 'friends', 'age_group': '50'}",friends,50,N,자연,친구,Ad,NaN
102,46232,Egypt,Cairo,5.00,7,1,가이드 투어,"카이로 : 기자 피라미드, 스핑크스, 사카라 프라이빗 가이드 투어","본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔야...",친절한 가이드와 자세한 역사적인 설명을 들을 수 있었던 시간이었습니다. 추천드립니다.,"{'purpose': 'alone', 'age_group': '20'}",alone,20,N,도시,혼자,Kn,NaN
103,46067,Egypt,Cairo,5.00,5,1,가이드 투어,카이로: 고대 이집트 유적지 '기자 피라미드 & 멤피스 & 사카라' 투어,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...","예약자 두명과 운전기사 한명, 가이드 한명 총네명이 승용차에 타고 피라미드를 보러가...","{'purpose': 'partner', 'age_group': '30'}",partner,30,N,도시,허니문,Kn,NaN

In [41]:
#activity['new_keyword'] = activity['keyword2']
#activity['code'] = activity['tour_code']
#activity['title'] = activity['tour_name']
activity['label'] = 2

In [42]:
#df_activity = activity.groupby('activity').agg({'나라' : 'sum', '리뷰': lambda x: ''.join(x)})
df_activity = activity[['label', 'code', 'title', 'intro', 'review', 'area', 'company', 'interest']]

In [70]:
#df_activity_temp = df_activity.activity.reset_index(name='activity')
#df_activity_temp

In [71]:
#df_activity_temp["리뷰"] = df_activity["리뷰"].reset_index(name='리뷰').리뷰

In [72]:
#df_activity_temp

In [ ]:
#df_activity_2 =df_activity_temp.drop("나라", axis=1)

In [43]:
df_activity['corpus'] = df_activity['intro'] + df_activity['review']

C:\Users\shine\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
df_activity = df_activity[['label', 'code', 'title', 'corpus', 'area', 'company', 'interest']]

In [8]:
#df_activity_2 = df_activity_temp.groupby('activity').agg({'나라':'unique', '리뷰':lambda x: ''.join(x)})
#df_activity_2

In [9]:
#df_activity_temp_2 = df_activity_2.나라.reset_index(name='나라')
#df_activity_temp_2

In [10]:
#df_activity_temp_2["리뷰"] = df_activity_2["리뷰"].reset_index(name='리뷰').리뷰
#df_activity_temp_2

In [11]:
#df_activity_temp_2["label"] = 2

In [12]:
#df_activity_temp_2["code"] = df_activity_temp_2["activity"]
#df_activity_temp_2["review"] = df_activity_temp_2["리뷰"]
#df_activity_3 = df_activity_temp_2.drop("리뷰", axis=1)
#df_activity_4 = df_activity_3.drop("activity", axis=1)

In [13]:
#df_activity_4["corpus"] = df_activity_4["review"]
#df_activity_5= df_activity_4.drop("review", axis=1)
#df_activity_5[df_activity_5["code"] == "2097"]

In [14]:
#df_activity_5

In [15]:
#df_activity_6 = df_activity_5.drop("나라", axis=1)

In [16]:
#df_activity_6.to_csv("./activity_11_cleared.csv")

### 데이터 로드 -  book

In [32]:
keyword_book = pd.read_csv("../data_set/book/total_keyword_book.csv", index_col=0)
keyword_book2 = keyword_book[['ISBN', 'new_keyword', 'new_subject']]

In [33]:
book = pd.read_csv("../data_set/book/book_01_03_15_05_update.csv", index_col=0).reset_index(drop=True)
book

,ISBN,title,corpus,area,company,interest,comment
0,9.788957e+12,종의 기원,펴내는 작품마다 압도적인 서사와 폭발적인 이야기의 힘으로 많은 독자들의 뜨거운 사랑...,자연,혼자,Kn,NaN
1,9.788936e+12,"알로하, 나의 엄마들",따스한 손길로 마음을 어루만지는 이 시대 선한 이야기꾼 이금이 작가의 장편소설 『알...,자연,가족,Kn,NaN
2,9.788937e+12,싯다르타,"'수레바퀴 아래서', '데미안' 등으로 우리에게 친숙한 헤르만 헤세의 소설. 유복한...",자연,가족,Ar,NaN
3,9.788937e+12,노인과 바다,미국 현대 문학의 개척자라 불리는 어니스트 헤밍웨이의 대표작 『노인과 바다』. 퓰리...,자연,친구,Ar,NaN
4,9.788987e+12,왜 나는 너를 사랑하는가,인류의 역사와 함께 하는 사랑의 딜레마를 현대적인 방법으로 풀어낸 책. 작가는 1인...,자연,친구,Ex,NaN
...,...,...,...,...,...,...,...
412,9.788935e+12,팩트풀니스,"전 세계적으로 확증편향이 기승을 부리는 탈진실의 시대에, 막연한 두려움과 편견을 이...",도시,혼자,Ex,NaN
413,9.791190e+12,지적 대화를 위한 넓고 얕은 지식: 제로 편,"인문 분야 국내 작가로는 드물게 200만 부라는 더블 밀리언셀러를 기록한 작가, 출...",도시,혼자,Kn,NaN
414,9.791131e+12,내가 원하는 것을 나도 모를 때,왠지 자꾸만 마음이 쓸쓸하고 허무할 때가 있다. 지금 제대로 살고 있는 건지 앞으로...,도시,혼자,Ex,NaN
415,9.788935e+12,사피엔스,"지금으로부터 10만 년 전, 지구에는 호모 사피엔스뿐만 아니라 네안데르탈인, 호모 ...",도시,혼자,Kn,NaN
416,9.788966e+12,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),"30여 년간 정신과 의사로 활동하며 1만2천여 명의 속마음을 듣고 나누었고, 《당신...",도시,혼자,Sh,NaN

In [45]:
df_book = pd.merge(book,keyword_book2, on='ISBN', how='inner')

In [46]:
df_book['code'] = df_book['ISBN']
df_book['label'] = 1

In [47]:
df_book

,ISBN,title,corpus,area,company,interest,comment,new_keyword,new_subject,code,label
0,9.788957e+12,종의 기원,펴내는 작품마다 압도적인 서사와 폭발적인 이야기의 힘으로 많은 독자들의 뜨거운 사랑...,자연,혼자,Kn,NaN,인간본성 어머니 작가 한국소설 본성 유진,살인자 인간본성 악인,9.788957e+12,1
1,9.788936e+12,"알로하, 나의 엄마들",따스한 손길로 마음을 어루만지는 이 시대 선한 이야기꾼 이금이 작가의 장편소설 『알...,자연,가족,Kn,NaN,가족 여성 청소년소설 한국소설 장편소설 여성서사,한국소설 청소년소설 여성서사 일제강점기 근현대사 가족 여성 엄마,9.788936e+12,1
2,9.788937e+12,싯다르타,"'수레바퀴 아래서', '데미안' 등으로 우리에게 친숙한 헤르만 헤세의 소설. 유복한...",자연,가족,Ar,NaN,성장소설 데미안 사문 바라문 뱃사공 타마,성장소설,9.788937e+12,1
3,9.788937e+12,노인과 바다,미국 현대 문학의 개척자라 불리는 어니스트 헤밍웨이의 대표작 『노인과 바다』. 퓰리...,자연,친구,Ar,NaN,미국소설 노벨문학상 퓰리처상 실존철학 마지막소설 미국현대문학,퓰리처상 미국현대문학 미국소설 노벨문학상,9.788937e+12,1
4,9.788987e+12,왜 나는 너를 사랑하는가,인류의 역사와 함께 하는 사랑의 딜레마를 현대적인 방법으로 풀어낸 책. 작가는 1인...,자연,친구,Ex,NaN,사랑 연애 러브스토리 낭만 연인 실연,사랑 연애,9.788987e+12,1
...,...,...,...,...,...,...,...,...,...,...,...
412,9.788935e+12,팩트풀니스,"전 세계적으로 확증편향이 기승을 부리는 탈진실의 시대에, 막연한 두려움과 편견을 이...",도시,혼자,Ex,NaN,편견 데이터 통계 언론 침팬지 자연재해,사실충실성 탈진실 편견,9.788935e+12,1
413,9.791190e+12,지적 대화를 위한 넓고 얕은 지식: 제로 편,"인문 분야 국내 작가로는 드물게 200만 부라는 더블 밀리언셀러를 기록한 작가, 출...",도시,혼자,Kn,NaN,밀리언셀러 인문교양 우파니샤드 인문사회 제로 파편,인문사회 인문교양 지대넓얕,9.791190e+12,1
414,9.791131e+12,내가 원하는 것을 나도 모를 때,왠지 자꾸만 마음이 쓸쓸하고 허무할 때가 있다. 지금 제대로 살고 있는 건지 앞으로...,도시,혼자,Ex,NaN,문장 위로 소녀시대 태연 무기력 공감,좋은글귀 공감 위로,9.791131e+12,1
415,9.788935e+12,사피엔스,"지금으로부터 10만 년 전, 지구에는 호모 사피엔스뿐만 아니라 네안데르탈인, 호모 ...",도시,혼자,Kn,NaN,호모사피엔스 인류학 과학혁명 인류문명 네안데르탈인 지적설계,인류학 인류문명 인지혁명 농업혁명 과학혁명,9.788935e+12,1
416,9.788966e+12,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),"30여 년간 정신과 의사로 활동하며 1만2천여 명의 속마음을 듣고 나누었고, 《당신...",도시,혼자,Sh,NaN,치유 공감 심리치유 심리 피해자 기근,심리치유 심리적CPR 행동지침 공감,9.788966e+12,1

In [48]:
df_book2 = df_book[['label', 'code', 'title','corpus', 'area', 'company', 'interest']]

In [ ]:
#book["label"] = 1

In [ ]:
#book["code"] = book["ISBN"]

In [ ]:
#book = book[["label", "code", "corpus"]]
#book

### 데이터 합치기

In [87]:
df_concated = pd.concat([df_activity, df_book2]).reset_index(drop=True)
df_concated

,label,code,title,corpus,area,company,interest
0,2,2.001800e+04,요세미티 국립공원 일일투어 (글래시어포인트포함),"✔ 스냅사진, 아침간식과 점심(컵라면), 기념품샾방문, 가이드팁까지 모두포함 (팁은...",자연,친구,Ad
1,2,1.574900e+04,[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수),☆ 혼자 예약하셔도 OK ☆ ☆ 2인부터 출발 가능합니다 ☆ Ƹ̵̡Ӝ̵̨̄Ʒ 여...,자연,친구,Ad
2,2,7.063000e+03,캐나다 자연 즐기기2- 나이아가라 폭포,나이아가라 주변을 하루 안에 두루두루 관광하려면 현지를 잘 아는 사람과 함께 기동성...,자연,허니문,Ad
3,2,6.050900e+04,[투어] 토론토에서 출발하는 나이아가라 폭포 당일치기 여행 / 영진가이드 (캐나다/...,"캐나다 하면 떠오르는 그곳, 죽기 전에 꼭 한번 봐야하는 절경! 절대 놓치면 안 ...",자연,허니문,Sh
4,2,3.184500e+04,캐나다 투어1 - 나이아가라 폭포 일일관광 ( 단독투어 ),이 상품은 단독 상품 입니다. 개인 투어의 자유함을 느껴보세요^^* NPC(Niag...,자연,가족,Ex
...,...,...,...,...,...,...,...
516,1,9.788935e+12,팩트풀니스,"전 세계적으로 확증편향이 기승을 부리는 탈진실의 시대에, 막연한 두려움과 편견을 이...",도시,혼자,Ex
517,1,9.791190e+12,지적 대화를 위한 넓고 얕은 지식: 제로 편,"인문 분야 국내 작가로는 드물게 200만 부라는 더블 밀리언셀러를 기록한 작가, 출...",도시,혼자,Kn
518,1,9.791131e+12,내가 원하는 것을 나도 모를 때,왠지 자꾸만 마음이 쓸쓸하고 허무할 때가 있다. 지금 제대로 살고 있는 건지 앞으로...,도시,혼자,Ex
519,1,9.788935e+12,사피엔스,"지금으로부터 10만 년 전, 지구에는 호모 사피엔스뿐만 아니라 네안데르탈인, 호모 ...",도시,혼자,Kn
520,1,9.788966e+12,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),"30여 년간 정신과 의사로 활동하며 1만2천여 명의 속마음을 듣고 나누었고, 《당신...",도시,혼자,Sh

In [88]:
df_concated['code'][0]

20018.0

In [89]:
# ISBN 컬럼 정리
codes = []
for i in range(len(df_concated)):
    code = str(int(df_concated['code'][i]))
    codes.append(code)
len(codes)

521

In [90]:
df_concated['code'] = codes

In [91]:
df_concated

,label,code,title,corpus,area,company,interest
0,2,20018,요세미티 국립공원 일일투어 (글래시어포인트포함),"✔ 스냅사진, 아침간식과 점심(컵라면), 기념품샾방문, 가이드팁까지 모두포함 (팁은...",자연,친구,Ad
1,2,15749,[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수),☆ 혼자 예약하셔도 OK ☆ ☆ 2인부터 출발 가능합니다 ☆ Ƹ̵̡Ӝ̵̨̄Ʒ 여...,자연,친구,Ad
2,2,7063,캐나다 자연 즐기기2- 나이아가라 폭포,나이아가라 주변을 하루 안에 두루두루 관광하려면 현지를 잘 아는 사람과 함께 기동성...,자연,허니문,Ad
3,2,60509,[투어] 토론토에서 출발하는 나이아가라 폭포 당일치기 여행 / 영진가이드 (캐나다/...,"캐나다 하면 떠오르는 그곳, 죽기 전에 꼭 한번 봐야하는 절경! 절대 놓치면 안 ...",자연,허니문,Sh
4,2,31845,캐나다 투어1 - 나이아가라 폭포 일일관광 ( 단독투어 ),이 상품은 단독 상품 입니다. 개인 투어의 자유함을 느껴보세요^^* NPC(Niag...,자연,가족,Ex
...,...,...,...,...,...,...,...
516,1,9788934985068,팩트풀니스,"전 세계적으로 확증편향이 기승을 부리는 탈진실의 시대에, 막연한 두려움과 편견을 이...",도시,혼자,Ex
517,1,9791190313131,지적 대화를 위한 넓고 얕은 지식: 제로 편,"인문 분야 국내 작가로는 드물게 200만 부라는 더블 밀리언셀러를 기록한 작가, 출...",도시,혼자,Kn
518,1,9791130627878,내가 원하는 것을 나도 모를 때,왠지 자꾸만 마음이 쓸쓸하고 허무할 때가 있다. 지금 제대로 살고 있는 건지 앞으로...,도시,혼자,Ex
519,1,9788934972464,사피엔스,"지금으로부터 10만 년 전, 지구에는 호모 사피엔스뿐만 아니라 네안데르탈인, 호모 ...",도시,혼자,Kn
520,1,9788965746669,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),"30여 년간 정신과 의사로 활동하며 1만2천여 명의 속마음을 듣고 나누었고, 《당신...",도시,혼자,Sh

### 벡터라이즈

In [54]:
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
%matplotlib inline

from PIL import Image
import nltk
from konlpy.corpus import kobill

In [149]:
#from konlpy.tag import Okt;
#t = Okt()
#tokens_ko = t.nouns(novel)
#tokens_ko

In [55]:
stop_words = ['책', '.', '(', ')', ',', "'", '%', '-', 'X', ').', 'x', '의', '자', '에', '안', '변', '호', '을', '이', '다', '만', '로', '가', '를', '것', '그', '이', '관', '수', '간', '앞', '때', '내', '준', '해', '주']

In [151]:
#df_concated["code"] = df_concated["code"].astype(str)

In [92]:
df_concated['corpus'] =  df_concated['area']  + df_concated['company'] + df_concated['interest']

In [93]:
df_concated2 = df_concated.dropna()

In [94]:
df_concated2

,label,code,title,corpus,area,company,interest
0,2,20018,요세미티 국립공원 일일투어 (글래시어포인트포함),자연친구Ad,자연,친구,Ad
1,2,15749,[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수),자연친구Ad,자연,친구,Ad
2,2,7063,캐나다 자연 즐기기2- 나이아가라 폭포,자연허니문Ad,자연,허니문,Ad
3,2,60509,[투어] 토론토에서 출발하는 나이아가라 폭포 당일치기 여행 / 영진가이드 (캐나다/...,자연허니문Sh,자연,허니문,Sh
4,2,31845,캐나다 투어1 - 나이아가라 폭포 일일관광 ( 단독투어 ),자연가족Ex,자연,가족,Ex
...,...,...,...,...,...,...,...
516,1,9788934985068,팩트풀니스,도시혼자Ex,도시,혼자,Ex
517,1,9791190313131,지적 대화를 위한 넓고 얕은 지식: 제로 편,도시혼자Kn,도시,혼자,Kn
518,1,9791130627878,내가 원하는 것을 나도 모를 때,도시혼자Ex,도시,혼자,Ex
519,1,9788934972464,사피엔스,도시혼자Kn,도시,혼자,Kn
520,1,9788965746669,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),도시혼자Sh,도시,혼자,Sh

In [95]:
df_concated3 = df_concated2.reset_index(drop=True)

In [96]:
df_concated3 = df_concated3.dropna()

In [97]:
df_concated3

,label,code,title,corpus,area,company,interest
0,2,20018,요세미티 국립공원 일일투어 (글래시어포인트포함),자연친구Ad,자연,친구,Ad
1,2,15749,[A코스 여행이야기]오토캠핑캬라반 1박2일(그랜드캐년.앤탈롭캐년.홀슈밴드+파웰호수),자연친구Ad,자연,친구,Ad
2,2,7063,캐나다 자연 즐기기2- 나이아가라 폭포,자연허니문Ad,자연,허니문,Ad
3,2,60509,[투어] 토론토에서 출발하는 나이아가라 폭포 당일치기 여행 / 영진가이드 (캐나다/...,자연허니문Sh,자연,허니문,Sh
4,2,31845,캐나다 투어1 - 나이아가라 폭포 일일관광 ( 단독투어 ),자연가족Ex,자연,가족,Ex
...,...,...,...,...,...,...,...
516,1,9788934985068,팩트풀니스,도시혼자Ex,도시,혼자,Ex
517,1,9791190313131,지적 대화를 위한 넓고 얕은 지식: 제로 편,도시혼자Kn,도시,혼자,Kn
518,1,9791130627878,내가 원하는 것을 나도 모를 때,도시혼자Ex,도시,혼자,Ex
519,1,9788934972464,사피엔스,도시혼자Kn,도시,혼자,Kn
520,1,9788965746669,당신이 옳다(교보문고 단독 리커버)(찰스 장 아트 에디션),도시혼자Sh,도시,혼자,Sh

In [98]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(analyzer='word', ngram_range=(1,2), min_df=0, stop_words=stop_words)
tfidf_matrix = tf.fit_transform(df_concated3['corpus'])
tfidf_matrix

<521x49 sparse matrix of type '<class 'numpy.float64'>'
	with 521 stored elements in Compressed Sparse Row format>

In [99]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1., 1., 0., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [100]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_corpus = TfidfVectorizer(analyzer='word', ngram_range=(1,2), min_df=0, stop_words=stop_words)
tfidf_matrix_corpus = tf_corpus.fit_transform(df_concated3['corpus'])
cosine_sim_corpus = linear_kernel(tfidf_matrix_corpus, tfidf_matrix_corpus)

titles = df_concated3["code"]
indices = pd.Series(df_concated3.index, index=df_concated3['code'])

In [115]:
titles1 = df_concated3[['label','code', 'title', 'corpus']]
indices1 = pd.Series(df_concated3.index,index=df_concated3['title'])

def corpus_recommendation(title):
    idx = indices1[title]
    sim_scores = list(enumerate(cosine_sim_corpus[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[0:100]
    book_indices = [i[0] for i in sim_scores]
    
    return titles1.iloc[book_indices]

    #return df_concated.iloc[book_indices]

In [108]:
result = corpus_recommendation("감정에 체한 밤")

In [109]:
result[result['label'] == 2]

    label   code                                           title  corpus
16      2  36500          리우데자네이루: 브라질 예수상, 셀라론 계단 & 슈거로프산 선셋 투어  도시혼자Sh
18      2  45972           리우데자네이루 브라질 예수상, 슈거로프산 및 셀라론 계단 전일 투어  도시혼자Sh
22      2  39901  [투어] 리우데자네이루 한인 시티투어 (텔레그라포 포함) :: 브라질/리우데자네이루  도시혼자Sh
71      2  31113         D 팔라우 레전드 스파 마사지 (Legend Spa & Massage)  도시혼자Sh

In [110]:
result = corpus_recommendation("지적 대화를 위한 넓고 얕은 지식: 제로 편")

In [111]:
result[result['label'] == 2]

     label   code                                 title  corpus
14       2  36491      3시간 동안 시내 곳곳을 돌아보는 라파스 가이드 워킹 투어  도시혼자Kn
20       2  45976         리우데자네이루 : 그리스도상, 슈거로프산 종일 투어   도시혼자Kn
80       2  15384    [투어] 남아공  핵심 시내투어(남아프리카공화국/요하네스버그)  도시혼자Kn
89       2  16126                 마라케시의 역사를 돌아보는 4시간 투어  도시혼자Kn
102      2  46232  카이로 : 기자 피라미드, 스핑크스, 사카라 프라이빗 가이드 투어  도시혼자Kn

In [118]:
result = corpus_recommendation("캐나다 자연 즐기기2- 나이아가라 폭포")

In [120]:
result

    label   code                                              title   corpus
2       2   7063                              캐나다 자연 즐기기2- 나이아가라 폭포  자연허니문Ad
7       2  13351                     휘슬러 (밴쿠버) 투어 마이리얼트립 에릭과 함께하세요.  자연허니문Ad
31      2  16149  산호세에서 떠나는 이라수(Irazu) 화산, 오로시(Orosi) 계곡, 랑카스터(L...  자연허니문Ad
66      2  24601            [투어] 그로토 스노쿨링 (수중사진무료제공) &체험다이빙  :: 사이판  자연허니문Ad
91      2  53219                    모리셔스: 르몽산(UNESCO 자연 유산) 친환경 하이킹  자연허니문Ad
..    ...    ...                                                ...      ...
93      2  53207                     모리셔스: 자연 그대로를 즐기는 남서부 종일 단체 투어   도시친구Ar
96      2  46058                                카이로: 나일강 4시간 디너 크루즈  도시허니문Sh
97      2  36473                       카이로: 기자 피라미드&스핑크스 반일 프라이빗 투어   도시친구Kn
98      2  36474     [세계 7대 불가사의] 카이로 기자 피라미드/이집트 박물관/바자르 종일 가이드 투어   도시가족Kn
99      2  35729                    [카이로→알렉산드리아] 알짜배기 이집트 역사 가이드 투어   도시친구Kn

[100 rows x 4 columns]